{% extends "todo/base.html" %}
{% block content %}


<h4 class="mb-4 text-center">{{List_details.title}} List</h4>

   
<div class="mb-2 text-center">
    
     <a href='{% url 'note-add'  1 %}' class="btn btn-primary " >Add new note</a>  
     <a href='{% url 'default'  %}' class="btn btn-primary " >Back</a>  
     
    {% comment %} <input
    value="Add a new item"
    type="button"
    onclick="location.href='{% url "note-add" list_details.id %}'"
    />  {% endcomment %}
</div>
<div class="list-group">
    {% for todo in object_list %}
    <a href='#' class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"> {{ todo.title }}</h5>
          
            <small>{{todo.created_date |timesince}} ago</small>
        </div>
        <p class="mb-1" style="color:#7e7e04;"> {{ todo.description}} </p>
        <small style="color:#9d9d0c;"> {{ todo.due_date|timeuntil }} left.</small>
    </a>  
    {% empty %}
        <p class="mb-1" >There are no notes.</p>
    {% endfor %}         
  </div>
{%endblock%}